
body {
  --textos:Roboto Slab;
  --titulos:Overpass;
  --etiquetas:Roboto;
  --border-radius:4px;
  --color-basico:#fe790a;
  --color-basico-l1:hsl(27.30000000000001, 99.2%, 56.9%);
  --color-basico-l25:hsl(27.30000000000001, 99.2%, 64.7%);
  --color-basico-d05:hsl(27.30000000000001, 99.2%, 49.2%);
  --color-basico-l02:hsl(27.30000000000001, 99.2%, 50.7%);
  --color-basico-f5:rgba(254, 121, 10, 0.5);
  --color-basico-f15:rgba(254, 121, 10, 0.85);
  --color-basico-f25:rgba(254, 121, 10, 0.75);
  --color-basico-f75:rgba(254, 121, 10, 0.25);
  --color-secundario:#1ba4ba;
  --color-secundario-l1:hsl(188.29999999999995, 74.6%, 45.9%);
  --color-secundario-l25:hsl(188.29999999999995, 74.6%, 52.2%);
  --color-secundario-d05:hsl(188.29999999999995, 74.6%, 39.7%);
  --color-secundario-l02:hsl(188.29999999999995, 74.6%, 40.9%);
  --color-secundario-f5:rgba(27, 164, 186, 0.5);
  --color-secundario-f15:rgba(27, 164, 186, 0.85);
  --color-secundario-f25:rgba(27, 164, 186, 0.75);
  --color-secundario-f75:rgba(27, 164, 186, 0.25);
  --color-error:#FF2B64;
  --color-error-l1:hsl(343.9, 100%, 64.3%);
  --color-error-l25:hsl(343.9, 100%, 73%);
  --color-error-d05:hsl(343.9, 100%, 55.5%);
  --color-error-l02:hsl(343.9, 100%, 57.3%);
  --color-error-f5:rgba(255, 43, 100, 0.5);
  --color-error-f15:rgba(255, 43, 100, 0.85);
  --color-error-f25:rgba(255, 43, 100, 0.75);
  --color-error-f75:rgba(255, 43, 100, 0.25);
  --color-fondo:#fff;
  --color-fondo-l1:hsl(0, 0%, 100%);
  --color-fondo-l25:hsl(0, 0%, 100%);
  --color-fondo-d05:hsl(0, 0%, 95%);
  --color-fondo-l02:hsl(0, 0%, 98%);
  --color-fondo-f5:rgba(255, 255, 255, 0.5);
  --color-fondo-f15:rgba(255, 255, 255, 0.85);
  --color-fondo-f25:rgba(255, 255, 255, 0.75);
  --color-fondo-f75:rgba(255, 255, 255, 0.25);
  --color-tinta:#000;
  --color-tinta-l1:hsl(0, 0%, 0%);
  --color-tinta-l25:hsl(0, 0%, 0%);
  --color-tinta-d05:hsl(0, 0%, 0%);
  --color-tinta-l02:hsl(0, 0%, 0%);
  --color-tinta-f5:rgba(0, 0, 0, 0.5);
  --color-tinta-f15:rgba(0, 0, 0, 0.85);
  --color-tinta-f25:rgba(0, 0, 0, 0.75);
  --color-tinta-f75:rgba(0, 0, 0, 0.25);
}
