.ribbon {
  .cabecero {
    img {
      height: 20px;
      margin-right: 10px;
    }
  }
}
.botoneraVertical {
  display: flex;
  flex-direction: column;
  padding: 0 30px;
  box-sizing: border-box;
  align-items: center;
  button {
    width: 100%;
    max-width: 300px;
  }
  &::after, &::before {
    content: 'firefox';
    opacity: 0;
    display: block;
    height: 30px;
  }
}
